@import url('https://fonts.cdnfonts.com/css/futura-lt');
@import url('https://fonts.cdnfonts.com/css/tf2-build');
@import url('https://fonts.cdnfonts.com/css/pricedown');

* {
    text-decoration: none;
  
  }
  html {
    scroll-behavior: smooth;
  }
  





/* Estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Futura LT', 'TF2 Build', sans-serif;
    color: #fff;
    background-color: #2e2e2e;
    text-decoration: none;

}

.parallax-image-container {
    position: relative;
    height: 20vh; /* Altura visible de la imagen */
    overflow: hidden; /* Oculta el resto de la imagen */
    z-index: -1; /* Capa inferior */
}

.parallax-image-container img {
    position: absolute;
    top: 0; /* Coloca la imagen en el centro vertical */
    left: 50%; /* Coloca la imagen en el centro horizontal */
    transform: translate(-50%, -50%); /* Ajusta la imagen para que el centro sea el punto de referencia */
    width: 100%; /* Mantiene las proporciones originales */
}




/* Header y menú */
header {
    background-color: rgb(31, 31, 31);
    color: white;
    padding: 0; /* Espaciado interno */
    width: auto; /* Ajusta el ancho automáticamente según el contenido */
    max-width: 100%; /* Ancho máximo */
    margin: 0 auto; /* Centra el header horizontalmente */
    border-bottom: 100px; /* Esquinas redondeadas opcionales */
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para resaltar */
    margin-bottom: 25px;
    font-family: sans-serif;
    font-weight: bold;


  
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 15px;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    position: relative;
    margin: 0 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
  }
  
  nav ul li a:hover {
    background-color: #000000;
    border-radius: 5px;
    color: #ffffff;
  
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #444;
    margin-top: 10px;
    padding: 0;
    list-style: none;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu li a {
    display: block;
    padding: 10px;
    white-space: nowrap;
  }











/* Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-decoration: none;
    font-family: 'Pricedown Bl', 'Futura LT', 'TF2 Build', sans-serif;

  
  
  }
  
  .card {
    background-color: #fff;
    border:3px solid;
    text-align: center;
    padding: 60px 30px;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    font-size: 60px;

  
  
  }
  
  .card a {
    color: white;
  
  }
  
  .card:hover {
    background-color: #f0f0f0;
    text-decoration: none;
    transform: scale(1.02); /* Aumenta el tamaño de la tarjeta en un 1% */
  
  }
  
  /* Colores específicos */
  .card.youtube {
    background-color: #0000004d; /* Rojo (Youtube) */
    color: #ff4f23;
  }
  
  .card.discord {
    background-color: #0000004d; /* Azul (Discord) */
    color: #9e88ff;
  }
  
  .card.guias {
    background-color: #0000004d; /* Verde */
    color: #00ff3c;
  }
  
  .card.mods {
    background-color: #0000004d; /* Amarillo */
    color:#ffc925;
  }
  
  .card.info {
    background-color: #0000004d; /* Azul claro */
    color: #5de9ff;
  }
  
  .card.settings {
    background-color: #0000004d; /* Gris */
    color: #f56bcb;
  }

  
  .player{
    aspect-ratio: 16/9;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 25px;
  }




  
  /* Contenedor principal */
.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 40px;
  max-width: 1200px;
  margin:  auto;
  font-family: sans-serif;

}


/* Sección de introducción */
.intro {
  max-width: 600px;
  margin: auto 0;

}

.intro p{
  margin: auto 50px;

}

.intro h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  margin: 20px 50px;

}

.social-links {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin: 20px 50px;

}

.social-links a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 0.9rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.social-links a:hover {
  background-color: #fff;
  color: #111;
}

.english-link {
  margin-left: auto;
}

.donation-link {
  color: #f39c12;
  text-decoration: underline;
}

.image-section img {
  max-width: 100%;
  height: auto;
}